@import "components/setup";
@import "components/base";
@import "components/header";
@import "components/guitarGen";
@import "components/guitarShowcase";

body {
    font-family: 'Josefin Slab', serif;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

footer {
    text-align: center;
}


